.myBtn {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
}
.myBtn:hover {
    background-color: rgb(166, 245, 166);
}
